html, body {
  font-family: "Work Sans";
  background-image: url("/images/back.jpg");
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

li {
  text-align: left !important;
  margin-bottom: 0.5rem;
}

.container {
  margin-top: 2rem;
  max-width: 78vw;
}

.no-margin {
  margin: 0;
}

/* ------- NAVBAR component ------- */
.logo-name {
  height: 60px;
}

.logo-sm {
  height: 50px;
}

.span-powered {
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

.nav-link {
  color: black !important;
  text-align: center !important;
}

li {
  text-align: center;
}

.navbar {
  border-bottom: 1px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
}

@keyframes nav-color {
  from {
    background-color: rgb(22, 244, 208);
    border-radius: 20px;
  }
  
  to {
    background-color: rgb(11, 115, 176);
    border-radius: 20px;
  }
}

.nav-link-top {
  padding: 0.5rem 2rem !important;
}

.nav-link-top:hover {
  animation: nav-color 0.9s forwards;
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

/* ------- HOME component ------- */
.jumbotron-info {
  background-color: rgb(11, 115, 176);
  color: rgb(255, 255, 255);
  padding: 2rem 3rem 2rem 2rem;
}

.jumbotron-info h1 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  text-align: right;
  padding: 0.5rem 0;
}

.jumbotron-subtitle {
  margin: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  text-align: right;
  color: rgb(0, 0, 0);
}

.jumbotron-content {
  margin-top: 1rem;
  text-align: right;
  color: rgb(0, 0, 0);
}

.heading-carousel {
  right: 0;
  bottom: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem 7rem 1rem 5rem;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.insight-name {
  font-weight: 700;
  color: rgb(22, 244, 208);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* .article {
  width: 70%;
  margin: 6rem 0;
} */

.articles {
  padding: 0 6rem;
}

.article-div {
  /* background: linear-gradient(to bottom, rgba(22, 244, 208, 0.2), rgb(255, 255, 255)); */
  background: linear-gradient(to bottom, rgba(11, 115, 176, 0.8), rgba(22, 244, 208, 0.2));
  width: 30%;
  text-align: center;
  /* border: 1px solid rgb(58, 58, 58); */
  padding: 3rem;
  margin: 5rem 0;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.article-icon {
  font-size: 5rem;
  color: rgb(0, 0, 0);
}

.article-div h5 {
  margin-top: 1rem;
  font-weight: 700;
}

.footer {
  padding: 2rem;
  background-color: rgb(11, 115, 176);
}

.copyright {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}

/* ------- SIDE-MENU component ------- */
/* See Menu2.css file under the Pages folder */

/* ------- SIDEBAR component ------- */
.sidebar {
  width: 50px;
  min-height: 100vh;
  height: 100%;
  padding: 0 0 1.5rem 0;
  /* background-color: rgb(22, 244, 208); */
  background-color: rgb(58, 58, 58);
}

.logo-sidebar {
  width: 30px;
  padding: 0.5rem 0;
}

.divider {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

i {
  font-size: 1.3rem;
  padding: 0.4rem;
  color: rgb(100, 100, 100);
}

/* .nav-link-side:hover {
  background-color: rgb(0, 0, 0);
} */

.nav-link-side:hover i {
  color: rgb(255, 255, 255);
}

.active-menu {
  background-color: rgb(39, 39, 39);
}

.active-menu i {
  color: rgba(22, 244, 208);
  text-shadow: 2px 2px rgb(9, 121, 102);
}

/* ------- SUMMARY component ------- */
.summary-menu {
  background-color: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
  font-size: 0.8rem !important;
  margin-bottom: 1rem;
  border-radius: 0 !important;
  padding: 0.5rem 2rem !important;
}

.summary-menu:first-child {
  border-bottom-left-radius: 15px !important;
}

.summary-menu:last-child {
  border-bottom-right-radius: 15px !important;
}

.summary-menu:hover {
  background-color: rgb(11, 115, 176);
  /* color: rgb(0, 0, 0); */
}

.container-fluid {
  background-image: url("/images/back.jpg");
}

.signin-name {
  font-size: 1.8rem;
  font-weight: 700;
  /* margin-left: 0.5rem; */
}

/* .sub-title {
  font-size: 1.2rem;
  font-weight: 700;
} */

label {
  font-size: 0.8rem;
  margin-bottom: 0;
}

/* ------- WORK HISTORY component ------- */
.job-title, h4 {
  border-left: 10px solid rgb(11, 115, 176);
  padding: 0 1rem;
}

.job-title {
  border-bottom: 1px solid rgba(11, 115, 176, 0.2);
  margin: 0 0 1rem 0;
}

.job-title p, h4 {
  margin: 0;
}

/* ------- EDUCATION component ------- */
.education-info {
  margin: 0 0 0 1.6rem;
}

/*---------signout component --------*/
.thankyou {
  font-size: 1.9em;
}


.thankyou-subtitle {
  text-align: right;

}

/*--------- SKILLS component --------*/
.skill-div {
  position: relative;
  padding: 1rem;
}

.skill-img {
  width: 100px;
  height: 100px;
}

.skill-icon {
  position: absolute;
  left: 29%;
  top: 22%;
  color: rgb(34, 34, 34);
  font-size: 3rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.skill-div p {
  margin: 0;
  font-weight: 700;
}