/* OUR SIDE MENU */
.menu-option {
  padding: 0.8rem 1rem;
  width: 100%;
  background-color: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(49, 49, 49);
}

.menu-option:hover {
  background-color: rgb(0, 0, 0);
  border-right: 5px solid rgba(22, 244, 208);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.side-menu {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 200px;
  background-color: rgb(39, 39, 39);
}

.active-bar {
  border-right: 5px solid rgba(22, 244, 208);
  font-weight: 700;
  color: rgba(22, 244, 208);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 120%;
  left: 100px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-suboption {
  font-size: 0.9rem;
  float: left;
}